html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(250, 250, 250);
}

article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.index-img {
    border-radius: 2rem;
    margin-top: 16px;
}

.header {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTdzxL0fBlrR4FCT2EriVqNnLKp41MS2X0u8VroBBmsHnV2FJb&s);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif; 
}

.find-recipe {
    color: #fff;
    margin-bottom: 70px;
    font-size: 45px;
    letter-spacing: 2px;
    text-align: center;
}

.search-field {
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
}

.cusines {
    width: 400px;
}

.ingredient {
    width: 200px;
}

.search-btn {
    height: 50px;
    width: 150px;
    background: #ffeb3b;
    border: none;
    color: #000;
    border-radius: 25px;
}

.search-btn:hover {
    background: #ffc107;
    cursor: pointer;
}

.form-box {
    background: rgba(0,0,0,0.5);
    padding: 30px;
}

/* --------------------Footer------------------------- */
footer {
    padding-top: 2rem;
    position: relative;
}

footer a {
    text-decoration: none;
    color: white;
    background-color: transparent;
}

footer a:hover {
    text-decoration: none;
    color: white;
    background-color: transparent;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-pinterest:hover {
    color: #c8232c;
}

.fa-instagram:hover {
    color: #fbad50;
}


.fa-twitter:hover {
    color: #38a1f3;
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #212529;
}