{% extends 'base.html'%} {% block content %}

<h2 style="
    margin-top: 120px;
    margin-left: 30px;
    margin-bottom: 100px;
    text-align: center;
    color: #1d2124;
">Add Recipe</h2>
<div class="container">
	<div class="row recipe-card card z-depth-1 center-align" style="
          width: 80%;
          margin: 0 auto;
          background: #f5f5f5;
          padding: 50px;
          ">
		<form method="POST" action="" enctype="multipart/form-data" style="margin: 18px;">

			<div class="form-row">
				<div class="form-group col-md-12">
					<h4 class="card-title">
						<label for="title">Title</label>
						<input id="title" name="title" type="text" minlength="5" maxlength="50" class="form-control" id="inputEmail4">
                </h4>
				</div>
				<div class="form-group col-md-12">
					<h4 class="card-title">
						<label for="category">Category</label>

						<select id="category" class="form-control">
                            <option selected>Choose...</option>
                            <option>Everyday</option>
                            <option>Christmas</option>
                            <option>Vegeterian</option>
                            <option>Desserts</option>
                        </select>
					</h4>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<h4 class="card-title">
						<label for="cooking_time">Cooking time</label>
						<select id="cooking_time" class="form-control">
                            <option selected>Minutes...</option>
                            <option>5 min</option>
                            <option>10 min</option>
                            <option>15 min</option>
                            <option>20 min</option>
                            <option>25 min</option>
                            <option>30 min</option>
                            <option>35 min</option>
                            <option>40 min</option>
                            <option>45 min</option>
                        </select>
					</h4>
				</div>
				<div class="form-group col-md-12">
					<h4 class="card-title">
						<label for="serves">Serves</label>
						<input type="text" class="form-control" id="serves" placeholder="peoples">
                        </h4>
				</div>
				<div class="form-group col-md-12">
					<h4 class="card-title">
						<i class="fas fa-hamburger" aria-hidden="true"></i>
						<label for="author">Author</label>
						<input type="text" class="form-control" id="author">
								</h4>
				</div>
			</div>
			<div class="form-group col-md-12">
				<!--Ingredients Card-->
				<div class="row recipe-card card z-depth-1 center-align" style="margin-bottom: 60px;">
					<h4 class="card-title">
						<i class="fas fa-hamburger" aria-hidden="true"></i>
						Ingredients
					</h4>
					<div class="ingredients input-field col-md-12" style="padding: 0;">
						<input id="ingredients" name="ingredients" type="text" placeholder="Ingredient (one per line)" class="form-control validate" required>
						<label for="ingredients"></label>
					</div>
					<div class="col-md-12 add-remove-btns">
						<!--Add Ingredient Row Btn-->
						<button type="button" class="waves-effect waves-light btn add-ing small-btn" aria-label="Add new ingredient row">
                                    <i class="fas fa-plus material-icons" aria-hidden="true"></i>
                        </button>
						<!--Remove Ingredient Row Btn-->
						<button type="button" class="waves-effect waves-light btn remove-ing small-btn alt" aria-label="Remove last ingredient row">
                                      <i class="fas fa-minus material-icons" aria-hidden="true"></i>
                        </button>
					</div>
				</div>

				<!--Cooking Instructions Card-->
				<div class="row recipe-card card z-depth-1 center-align" style="margin-bottom: 60px;">
					<h4 class="card-title">
						<i class="fas fa-list-ol" aria-hidden="true"></i>
						Instructions
					</h4>
					<div class="input-field instructions col-md-12" style="padding: 0;">
						<input id="instructions" name="instructions" type="text" placeholder="Instructions (one per line)" class="form-control validate" required>
						<label for="instructions"></label>
					</div>
					<div class="col-md-12 add-remove-btns">
						<!--Add Instruction Row Btn-->
						<button type="button" class="waves-effect waves-light btn add-instruction small-btn" aria-label="Add new instruction row">
                                 <i class="fas fa-plus material-icons" aria-hidden="true"></i>
                             </button>
						<!--Remove Instruction Row Btn-->
						<button type="button" class="waves-effect waves-light btn remove-instruction small-btn alt" aria-label="Remove last instruction row">
                               <i class="fas fa-minus material-icons" aria-hidden="true"></i>
                             </button>
					</div>
				</div>
				<!--Image File Input-->
				<div class="form-group">
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="customFile">
						<label class="custom-file-label" for="customFile">Choose file</label>
					</div>
				</div>
			</div>
			<!--Add and Cancel buttons-->
			<div class="form-group">
				<div class="col-sm-12 text-center">
					<button class="btn btn-dark" title="Submit">Add</button>
					<button class="btn btn-outline-dark" title="Cancel">Cancel</button>
				</div>
			</div>

		</form>
	</div>
</div>

{% endblock %}