{% extends 'base.html' %}
{% block content %}
<div class="row center-align">
	<div class="col s12 text-center">
		<h1 class="page-title">Recipes</h1>
	</div>
</div>

<!--Search And Filters Form-->
<div class="container center-align">

	<form id="search_form">
		<ul class="collapsible search-option center-align">

			<div class="collapsible-header search-header">
				<h3 class="search-form-title text-center">
					<i class="fas fa-search" aria-hidden="true"></i>
					Search
				</h3>
			</div>
			<div class="collapsible-body collection collapsible-collection search-body">
				<!--Helper Text/Instructions-->
				<div class="col-sm-12">
					<h6 class="helper">Search by recipe name.</h6>
				</div>
				<!--Search Field-->
				<div class="input-field col-sm-12 search-form-wrapper">
					<i class="fas fa-search prefix" aria-hidden="true"></i>
					<input id="search" name="search" type="text" placeholder="Search Recipe Name..." class="form-control validate" required>
				</div>
					<!--Submit Button-->
					<div class="row submit-button-wrapper">
						<div class="col-sm-6">
							<button id="search_btn" class="btn waves-effect waves-light sm-md-btn" type="submit" aria-label="Search button">
                                <span class="hide-on-small-and-down">Search</span>
                                <i class="fas fa-search icon-right" aria-hidden="true"></i>
                            </button>
						</div>
						<!--Reset Button-->
						<div class="col-sm-6">
							<a class="btn waves-effect waves-light sm-md-btn" href="{{ url_for('all_recipes') }}"
								aria-label="Reset page button">
								<span class="hide-on-small-and-down">Reset</span>
								<i class="fas fa-undo-alt icon-right" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>

		</ul>
	</form>
	{% endblock %}