{% extends 'base.html'%} {% block content %}
<main role="main">
	<div class="album py-5 bg-light">
		<div class="container" style="padding-top:80px;">

			<div class="row">
				{% for recipe in recipes %}
				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<img class="bd-placeholder-img card-img-top" width="100%" height="225" alt="{{ recipe.title }}" src="{{ url_for('static', filename='img/' + recipe.image) }}">
						<div class="card-body">
							<h4 class="card-text">{{recipe.title}}</h4>
							<div class="d-flex justify-content-between align-items-center">
								<div class="card-body">
									<!-- <p class="card-text">{{recipe.ingredients}}</p>
									<p class="card-text">{{recipe.instructions}}</p> -->
									<p class="card-text">{{recipe.cooking_time}}</p>
									<p class="card-text">{{recipe.serves}}</p>
									<small class="text-muted">{{recipe.author}}</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</main>
{% endblock %}